.about-brief {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-important {
    width: 100%;
}

.picture-container {
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    justify-content: center;
}

.circle,
.square,
.circle-small,
.square-small {
    position: absolute;
    margin: 0 auto;
}

.circle-small {
    left: 60px;
    top: 15px;
    background-color: var(--color-text-important);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 55;
    opacity: .5;

}

.square {
    left: 45px;
    top: 10px;
    background-color: var(--color-secondary);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    z-index: 50;
    opacity: .5;
}



h1 {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
    font-weight: 600;
}

.square-picture {
    position: absolute;
    width: 200px;
    display: block;
    margin: 0 auto;
    /*background-color: var(--color-secondary);*/
    /*border-radius: 50%;*/
    z-index: 70;

}

.btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btns-container a {
    margin: 10px;
}

.full-story {
    padding-bottom: 20px;
}

@media (min-width:768px) {
    .about-brief {
        justify-content: flex-start;
    }

    .picture-container {
        margin: 0;
    }

    .about-text {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    nav {
        z-index: 10000;
    }
}